[Unit]
Description=Sentry Nav Auto Launch Service
After=network.target network-online.target

[Service]
Type=simple
User=sentry-nav
ExecStart=/bin/bash /home/sentry-nav/nav2_ws/scripts/floor10_nav_decision.sh
WorkingDirectory=/home/sentry-nav/nav2_ws
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/sentry-nav/.Xauthority"

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target